<%if @kittens.any?%>
    <%@kittens.each do |kitten|%>
        <div>
            <%=kitten%>
            <%=render partial: 'delete_button', locals: {kitten: kitten}%>
        </div>
    <% end %>
<% end %>